initial-example-app/.cache
initial-example-app/.classpath
initial-example-app/.project
initial-example-app/project/target
initial-example-app/project/project
initial-example-app/target
.DS_Store
**/*.DS_Store